<h2 id="title">Welcome to Ember</h2>

<ul>
  {{#each eventsArray as |event|}}
    <li>{{event.title}} <button onclick={{action "removeEvent" event}}>x</button></li>
  {{/each}}
</ul>

{{input value=eventTitle}} <button onclick={{action "addEvent" event}}>Add</button>

<h3>Change Calendar View</h3>
<button onclick={{action "changeView" "dayGridMonth"}}>Month</button>
<button onclick={{action "changeView" "dayGridWeek"}}>Week</button>
<button onclick={{action "changeView" "dayGridDay"}}>Day</button>
<br>
<br>

<FullCalendar
  @plugins={{plugins}}
  @events={{eventsArray}}
  @viewName={{viewName}}
  @date={{startDate}}
  @viewDidMount={{action "viewDidMount"}}
  @timezone="UTC"
  @eventRender={{this.eventRender}}
  @resources={{this.resources}}
  @datesAboveResources={{true}}
  @groupByDateAndResource={{true}}
  @firstDay={{0}}
  @allDaySlot={{true}}
  @dayHeaderFormat={{hash weekday="long"}}
  @weekday="long"
  @slotEventOverlap={{false}}
  @slotDuration="00:15:00"
  @slotLabelInterval="01:00"
  @slotMinTime="00:00"
  @slotMaxTime="23:00"
  @nowIndicator={{true}}
  @selectable={{true}}
  @editable={{true}}
  @selectHelper={{true}}
/>